
@font-face {
  font-family: "Palanquin";
  font-style: normal;
  font-weight: 400;
  src: local("Palanquin Regular"), local("Palanquin-Regular"),
    url("./style/fonts/palanquin-v5-web.woff2") format("woff2");
}

.font-palanquin {
  font-family: "Palanquin";
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Barlow Condensed Regular'), local('BarlowCondensed-Regular'),
       url('./style/fonts/barlow-condensed-v4-latin-regular.woff2') format('woff2'), 
}

.font-barlow {
  font-family: "Barlow Condensed";
}

//
// Mapbox GL Style Overrides
//

.mapboxgl-ctrl-attrib {
  &.mapboxgl-compact
  {
      &::after {
        background-image: url(./style/heart.png) !important;
      }

      text-align: center;
  }
}

.mapboxgl-popup-close-button {
  z-index: 90;
  font-size: 1em;
  width: 24px;
  height: 26px;
  background-color: rgba(255,255,255,0.4);

  &:hover {
    background-color: rgba(255,255,255,0.9) !important;
  }
}

.mapboxgl-popup-content {
  padding: 10px !important;
}