.mapboxgl-ctrl-infobox {

  font-family: "Palanquin";
  font-size: 1.1em;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Barlow Condensed";
    &:not(:first-child) {
      margin: 0.35em 0 0.35em 0;
    }
    &:first-child {
      margin: 0 0 0.35em 0;
    }
  }
  p {
    line-height: 1.2;
    &:not(:last-child) {
      margin: 0 0 0.25em 0;
    }
    &:last-child {
      margin: 0;
    }
  }
  .icon {
    & > svg:hover {
      border-radius: 4px;
      cursor: pointer;
      background-color: #eee;
    }
  }
  .symbol {
    margin-right: 8px;
    .symbol-icon {
      display: inline-block;
      vertical-align: middle;
      height: 18px;
    }
  }
  ul {
    padding-left: 1em;
    margin: 0;
  }
}
//
// Fonts
//

.font-palanquin {
  font-family: "Palanquin";
}

.font-barlow {
  font-family: "Barlow Condensed";
}

//
// Mapbox GL Style Overrides
//

.mapboxgl-ctrl-attrib {
  &.mapboxgl-compact {
    &::after {
      background-image: url(./img/heart.png) !important;
    }

    text-align: center;
  }
}

.mapboxgl-popup-close-button {
  z-index: 90;
  font-size: 1em;
  width: 24px;
  height: 26px;
  background-color: rgba(255, 255, 255, 0.4);

  &:hover {
    background-color: rgba(255, 255, 255, 0.9) !important;
  }
}

.mapboxgl-popup-content {
  padding: 10px !important;
}
